@charset "UTF-8";

body{
background-color: #3c6997;
}
h1{
    text-align: center;
    color: #d8e4ff;
}

section{
    font: normal 12pt Arial;
    color: #3c6997;
    background-color: #d8e4ff;
    width: 800px;
    padding: 15px;
    margin: auto;
}
#btn{
    font: bold 12pt Arial;
    color: #3c6997;
    border-radius: 8px;
    padding: 8px;
}
#altura{
    padding: 8px;
}
#peso{
    padding: 8px;
}
footer{
    font: bold 12pt Arial;
    text-align: center;
    font-style: italic;
    color: #f4f7be;
}

