@charset "UTF-8";

body{
background-color: #3c6997;
}
h1{
    text-align: center;
    color: black;
}

section{
    font: normal 12pt Arial;
    color: black;
    background-color: #d8e4ff;
    width: 500px;
    padding: 15px;
    margin: auto;
}
#qnum{
    padding: 8px;
}
#btn{
    font: bold 12pt Arial;
    color:black;
    border-radius: 8px;
    padding: 8px;
}

footer{
    font: bold 12pt Arial;
    text-align: center;
    font-style: italic;
    color: #f4f7be;
}

